.banner {
  background: url("https://i.pinimg.com/originals/5a/b7/b1/5ab7b15f9a464da50b24a88f068e195b.jpg") 50% 50% / 100% no-repeat fixed;
  height: 400px;
  display: flex;
  align-items: center;
  color: white;
  text-shadow:  0px 0px 2px rgb(42, 41, 41);/* easier to read rtext on banner */
}

.banner h1{
  font-family: "Rubik Pixels";
}

.banner p{
  font-family: "Neucha";
  font-style: italic;
  font-weight: 200;
}
