.button{
  background-color: transparent;
  padding: 8px 24px;
  border: 1px solid rgb(191, 218, 231);
  color: rgb(35, 190, 225);
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(191, 218, 231);
}

.button a{
  font-family: "Rubik Pixels";
  text-decoration: none;
  color: white;
}

.button:hover{
  background-color: rgb(46, 111, 120, 0.5);
  transition: 0.3s;
}
